<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Family Tree</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <header class="header">
            <h1>Family Tree</h1>
        </header>

        <div class="content">
            <h2>Explore the Family Tree</h2>
            <p>Here you can explore the family tree.</p>
        </div>

        <div class="controls">
            <a href="{{ url_for('family_home') }}" id="returnButton">Return to Index</a>
        </div>
        <div class="controls">
            <!-- Existing navigation buttons -->
            <a href="{{ url_for('add_member') }}" class="btn btn-primary">Add New Member</a> <!-- Add this button -->
        </div>


        <footer class="footer">
            <p>© 2025 Family History Project</p>
        </footer>
    </div>
</body>
</html>